<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.reimcloud.mapper.ReimCompanyMapper">

    <select id="selectByKeyword" resultType="org.example.reimcloud.entity.ReimCompany">
        SELECT * FROM reim_company
        <where>
            <if test="keyword != null and keyword != ''">
                company_no LIKE CONCAT('%', #{keyword}, '%')
                OR company_name LIKE CONCAT('%', #{keyword}, '%')
            </if>
        </where>
        ORDER BY company_no
    </select>

</mapper>
